/* 基础重置和全局样式 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
	background-image: url('/web/c7f5bbc3226968db85cb03e14a55eacf0dc2cc50_size1559.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}


/* 头部和尾部样式 */
header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

header h1 {
    margin: 0;
}

/* 导航菜单样式 */
nav ul {
    list-style: none;
    padding: 0;
    background-color: #555; /* 导航栏背景颜色 */
    text-align: center; /* 导航栏内容居中 */
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white; /* 导航链接颜色 */
}

nav ul li a:hover {
    text-decoration: underline;
}

/* 主要内容区域样式 */
main section {
    margin: 15px;
    padding: 15px;
    background-color: white;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 添加阴影效果 */
}

/* 页脚样式 */
footer p {
    margin: 0;
}

/* 图片样式 */
.index-img {
    max-width: 100%; /* 设置图片的最大宽度为100% */
    height: auto; /* 保持图片的纵横比 */
    display: block;
    margin: 20px auto; /* 图片居中显示 */
}

/* 响应式设计 */
@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }

    main section {
        margin: 10px;
        padding: 10px;
    }
}